---
layout: default-fluid
---

<div>
  <div class="main-banner">
    <div class="bg-item"></div>
    <div class="dimmed">
      <div class="content-layout">
        <div class="description">
          <p class="text">
            졸업생 멘토들과<br>
            함께하시겠습니까
          </p>
          <a href="#" role="button">오픈채팅 참여하기</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="nav-container">
  <div class="catalogue">
    {% for post in paginator.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%Y-%m-%d" }}</time>
          <h1 class="catalogue-title">{{ post.title }}</h1>
          <div class="catalogue-line"></div>

          <p>
            {{ post.content | strip_html | truncatewords: 20 }}
          </p>

        </div>
      </a>
    {% endfor %}
  </div>

  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
    {% endif %}

    <span>{{ paginator.page }}</span>
  </div>
</div>
